<!doctype html>
<html>
<head>
    <title>GHS Authentication</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">

        <div class="jumbotron text-center">
            <h1>
                <span class="fa fa-lock"></span> GHS Authentication
            </h1>
            <p>Login with:</p>
            <a href="/login" class="btn btn-default">
                <span class="fa fa-user"></span> GHS Login
            </a>
        </div>

    </div>
</body>
</html>